#display-container {
    flex-grow: 1;
    border: 1px solid cyan;
}

.arrow-left,
.arrow-right {
    display: block;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    height: 15rem;
    width: 15rem;
    margin: auto;
}

.arrow-left {
    transform: rotate(135deg);
    margin-right: -7rem;
    margin-left: 4.5rem;
}

.arrow-right {
    transform: rotate(-45deg);
    margin-left: -7rem;
    margin-right: 4.5rem;
}