#header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 .85rem;
    height: 50px;
    align-items: center;
}

.nav-elements ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-between;
}

.menu-icon {
    display: none;
}

.navlink {
    cursor: pointer;
}

@media (max-width: 600px) {
    .nav-main {
        font-size: 16px;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
        width: 32px;
        height: 32px;
    }

    .menu-icon svg {
        display: block;
        width: 32px;
        height: 32px;
        left: auto;
    }

    .nav-elements {
        width: 0;
        overflow: hidden;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: rgba(0, 0, 0, .9);
        font-size: 22px;
}

    .nav-elements.visible {
        width: 150px;
    }

    .nav-elements ul {
        flex-direction: column;
    }
    
    .nav-elements ul li {
        margin-right: unset;
    }
}
