@keyframes slide-in-left {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

.anim-slide-in-left {
    animation: slide-in-left 3s ease-out;
}