#root {
  margin: 0 auto;
  text-align: center;
}

#main-wrapper {
  padding-top: 50px;
}

.sub-wrapper {
  display: flex;
  gap: 1rem;
}

.text-wrapper {
  max-width: 30%;
}

.section-container {
  display: flex;
  gap: 2rem;
}